body {
    @font-face {
        font-family: Montserrat;
        src: url('montserrat.ttf');
    }
    font-family: Montserrat; 
    color: #DFE6F1;
    background-color: #0C121B;
    margin: 0;
  }
  
  .nav-link {
    vertical-align: top;
    color: #FFFFFF;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .nav-menu {
    float: right;
    position: relative;
  }
  
  .navbar {
    background-color: #0c121b;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding: 10px;
    padding-left: 14px;
  }
  .imtip {
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  div{
    height: 100%;
    width: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1031314827374772314/1231661221175099472/background.png?ex=6637c4e6&is=66254fe6&hm=cdc958f2d065935b64a22d461aedd965fa21d285be0f4069566e6dc7e3f842fb&');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }