@import url("/fonts/Montserrat.css");

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fd4fa2;
  margin: 0;
}

.nav-link {
  color: #fd4fa2;
  text-align: left;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
}

.nav-menu {
  float: right;
}

.navbar {
  background-color: rgba(12, 18, 27, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.background {
  background-color: #fdb52c;
}

button {
  font-family: 'Montserrat', sans-serif;
}

#demo {
  font-size:x-large;
  margin-top: 0px;
}

.form-box {
  position: static;
  height: fit-content;
  margin: auto;
  width: 400px;
  padding: 40px;
  background: #6b3b0a98;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(24, 10, 31, 0.33);
  border-radius: 10px;
}

@media screen and (max-width: 767px){
  .form-box {
      width: max-content;
      margin-left: 14px;
      margin-right: 14px;
  }
}

.input-box {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.input-box input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #e4e4cf;
  outline: none;
  background: transparent;
}

.input-box-futsal {
  display: flex;
  align-items: center;
}

.input-box-futsal input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  flex:1;
  padding: 10px 0;
  font-size: 16px;
  color: #d6d8d8;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #e4e4cf;
  outline: none;
  background: transparent;
}

.classi {
  flex: 0,3;
}

.input-box-futsal label {
  top: 0;
  left: 0;
  padding: 10px 0;
  font-weight: 600;
  margin-right:16px;
  font-size: 18px;
  color: #d6d8d8;
  pointer-events: none;
  transition: .2s;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fffad5;
  pointer-events: none;
  transition: .2s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.input-box input:out-of-range ~ label {
  top: -20px;
  left: 0;
  color: rgb(255, 60, 60);
  font-size: 12px;
}

.futsal-title {
  font-weight: 600;
  font-size: xx-large;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
}

.form-box .input-group {
  display: flex;
}

.surname {
  margin-left: 14px;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }

  50%, 100% {
      left: 100%;
  }
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.corner_logo {
  margin: 10px;
}

.full {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.info-text {
  font-size: small;
  color: #ffffff;
  margin-top: -20px;
}

.info-text2 {
  font-size: small;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}

.wrapper {
  position: absolute;
  bottom: 14px;
  right: 30px;
  display: inline-flex;
  list-style: none;
  padding-top: 40px;
  justify-content: right;
}

.wrapper .icon {
  position: relative;
  background: #e4e4cf;
  color: #1751a8;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.img-btn-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.img-btn-container img{
 width: 100%;
 max-width: 1080px;
 align-self: center;
 text-align: center;
 align-content: center;
}

@media (max-width: 768px) {
  .img-btn-container img {
      width: 100%;
      margin-bottom: 30px;
  }
}

/*button {
  font-weight:bold;
  padding: 0px 40px;
  font-size: 36px;
  cursor: pointer;
  background: radial-gradient(
    circle at bottom,
    #e19d2f 30%,
    #ff752a 80%
  );
  border-radius: 0.4em;
  border: none;
  color: #FFF;
  height: 2.6em;
  box-shadow: 0 0 .2em .1em #fec24b60;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background: radial-gradient(
    circle at bottom,
    #fec24b 30%,
    #ff752a 80%
  );
  box-shadow: 0 0 .3em .2em #fec24b60;
  outline: 2px solid hsl(40, 99%, 65%);
}*/

button {
  font-weight:bold;
  padding: 0px 40px;
  font-size: 36px;
  cursor: pointer;
  background: #f1456a;
  border-radius: 0.4em;
  border: none;

  color: #ffeb73;
  height: 2.6em;
  
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  transform: scale(1.05);
  background: #ffeb73;
  color: #fffdcd;
  box-shadow: 0 0 .3em .2em #e12f79ac;
}

#complete-reservation {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 40px;
  border-radius: 5px;
  font-weight: 500;
}

#complete-reservation-futsal {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 40px;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  align-self: center;
  
}

button:disabled {
  background: #df258e33;
  color:#ffffff68;
}

button:disabled:hover {
  outline: none;
  transform: scale(1);
  cursor:not-allowed
}

button:disabled:hover {
  outline: none;
  transform: scale(1);
  box-shadow: 0 0 .2em .1em #df255d00;
  cursor:not-allowed
}

h1 {
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 100px;
}

@media (max-width: 768px) {
  h1 {
      font-size: 40px;
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


/* From Uiverse.io by kennyotsu-monochromia */ 
button {
  --black: #fd50a2;
  --ch-black: #fd50a2;
  --eer-black: #fd50a2;
  --night-rider: #ea3b8c;
  --white: #ffec5d;
  --af-white: #ffd931;
  --ch-white: #f3f384;
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: -5px 30px;
  border: none;
  color: #ffeb73;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  transition-duration: .2s;
  background-color: var(--ch-black);
}

button:before, button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, 
  var(--ch-black), var(--eer-black),
  var(--night-rider), var(--ch-white), var(--night-rider), 
	var(--eer-black), var(--ch-black),var(--ch-black));
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button:after {
  filter: blur(50px);
}

